pip==19.3.1
beautifulsoup4==4.7.1
bs4==0.0.1
descartes==1.1.0
folium==0.10.1
geopy==1.20.0
jupyter==1.0.0
jupyter-client==5.2.3
jupyter-console==6.0.0
jupyter-core==4.4.0
matplotlib==3.0.2
numpy==1.17.2
pandas==0.23.4
Pillow==8.3.2
requests==2.20.1
sklearn==0.0
